:root{
    --primary-color:#000000;
    --white-color:#f9f5f5;
    --light-gray-color:#eeeeee;
    --gap:3rem;
    --secondary-color:rgb(96, 95, 95);
    --boxshadow-color:rgba(20, 20, 20, 0.984);
    }